<div class="row" style="margin: 0 0 0 0">
  <div class="container col-md-3">
    <form class="form-signin" style="padding-top: 100px" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Add meg az e-mailt amivel regisztráltál!</h1>

        <label for="email" class="sr-only">E-mail cím</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail cím" required autofocus>
        <div class="mb-3"></div>

        <input type="submit" class="btn btn-primary" role="button" aria-pressed="true" value="Új jelszót kérek" />
        <a href="/login" class="btn btn-link" role="button" aria-pressed="true">Mégse</a>
    </form>
  </div>
</div>