<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <strong><%= link_to "Pet showroom", "/", :class => "navbar-brand d-flex align-items-center" %></strong>
    </div>
  </div>
</header>

<h1><%= @post.author %></h1>
<p><%= @post.petname %></p>